.calculator {
  max-width: 400px; /* set maximum width */
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background: linear-gradient(135deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5, #4f5bd5, #4f5bd5);
}

@media screen and (min-width: 768px) {
  /* apply styles for desktop screens */
  .calculator {
    max-width: 600px; /* increase maximum width for larger screens */
  }
}

.display {
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  font-size: 20px;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #ed2a7b, #f05f3d, #f3c100, #86c85a, #33bbed, #4f5bd5);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-image: linear-gradient(to bottom, #ed2a7b, #f05f3d, #f3c100, #86c85a, #33bbed, #4f5bd5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
